.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #F4DE6C;
    margin-top: 130px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .contact-text {
    font-size: 42.67px;
    font-weight: 400;
    letter-spacing: 0.20rem;
    font-family: "Impact";
    line-height: 52.08px;
  }
  
  .contact-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .contact-form {
    width: 400px;
    display: flex;
    align-items: center;
    border: 2px solid #F6DE00;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    color: rgba(241, 219, 173, 0.64);
  }
  
  .email-input {
    background-color: transparent;
    color:  #F4DE6C;
    border: none;
    outline: none;
    font-size: 15px;
    width: 500px;
    height: 39.96px;
    font-weight: 400;
    letter-spacing: 0.18rem;
  }
  
  .submit-button {
    background-color: transparent;
    border: none;
    color: #F4DE6C;
    cursor: pointer;
    font-size: 30px;
    margin-left: 10px;
  }
  
  .contact-phone {
    margin-left: 100px;
    margin-top: 80px;
    position: absolute;
    left: 25px;
    font-size: 1.2em;
    color: rgba(234, 220, 95, 1);
    letter-spacing: 4px;
}

.error-message {
  color: #F4DE6C;
  margin-top: 0px;
  margin-right: 90px;
  font-size: 1.3em;
  letter-spacing: 4px;
}

@media (max-width: 512px) {
  .contact-container {
      flex-direction: column;
      align-items: center;
      margin: 20px;
      padding: 10px;
  }

  .contact-text {
      font-size: 30px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 20px;
      width: 100%;
  }

  .contact-phone {
      position: relative;
      margin-left: 0;
      margin-top: 20px;
      left: 0;
      font-size: 18px;
      text-align: center;
      width: 100%;
  }

  .contact-input-container {
      align-items: center;
      width: 100%;
  }

  .contact-form {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      padding: 10px;
      box-sizing: border-box;
  }

  .email-input {
      width: calc(100% - 50px);
      font-size: 14px;
      height: 40px;
      margin: 0 10px;
  }

  .submit-button {
      font-size: 24px;
      margin-left: 5px;
  }

  .error-message {
      margin-right: 0;
      text-align: center;
      font-size: 16px;
  }
}
