.footer {
  background-color: #111;
  color: #fff;
  padding: 20px 0;
  font-family: "Inter";
  font-size: 18px;  
  font-weight: 300;
  line-height: 22px; 
  text-align: justify;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  height: 250px;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.logo, .secondary-logo {
  max-width: 100px;
}
.logo{
  margin-top: 50px;
  margin-bottom: 5px;
}
.company-name {
  font-size: 20px;
  font-weight: bold;
  width: 146.96px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  margin-top: 50px;

}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Inter";
  
}

.footer-links li {
  margin-bottom: 10px;
  line-height: 18.87px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.follow-us-container{
  display: flex;
  justify-content: flex-end;
  margin-top: -110px;
  margin-right: 210px;
}

.follow-us {
  margin-left: 0; 
  margin-top: 0;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #444;
  margin-top: 20px;
  
}

.footer-bottom-left {
  padding: 0px 30px;
  text-align: left;
  flex: 1;
  margin-left: 100px;
}

.footer-bottom-right {
  padding: 0px 30px 0px 0px;
  text-align: right;
  flex: 1;
  margin-right: 100px;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}



@media (max-width: 512px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }

  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .logo{
    width: 119.8px;
    height: 81.46px;
    top: 3653.63px;
    left: 195.58px;
    gap: 0px;
    opacity: 0px;

  }

  .secondary-logo{
    width: 148.55px;
    height: 19.17px;
    top: 3747.84px;
    left: 181.25px;
    gap: 0px;
    opacity: 0px;
  }

  .company-name {
    font-size: 16px;
    width: auto;
  }

  .footer-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 30px;
    margin-top: 20px;
    text-align: left;
  }

  .footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .footer-links li {
    font-family: Inter;
    font-size: 17.66px;
    font-weight: 300;
    line-height: 21.39px;
    text-align: justified;
  }

  .follow-us-container {
    text-align: center;
    margin-top: 20px;
    margin-right: 110px;
  }

  .follow-us {
    display: inline-block;
    font-family: Inter;
    font-size: 30.72px;
    font-weight: 600;
    line-height: 37.2px;
    letter-spacing: 0.09em;
    text-align: center;

  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; 
    margin-bottom: 20px; 
  }

  .social-icons a {
    display: inline-block;
  }

  .social-icon {
    width: 52.22px;
    height: 52.22px;

  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    border-top: 1px solid #444;
  }

  .footer-bottom-left, .footer-bottom-right {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 50px;
  }
  
  .footer-bottom-right {
    margin-top: 10px;
    font-family: Inter;
    font-size: 10.24px;
    font-weight: 300;
    line-height: 12.4px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  
  .footer-bottom-left {
    margin-top: 10px;
    font-family: Inter;
    font-size: 10.24px;
    font-weight: 300;
  }
  

}
