.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 2rem;
  background: url('../assests/herobackvector.png');
  color: white;
  position: relative;
}

.herohead {
  max-width: 666px;
  margin-left: 100px;
  margin-top: -120px;
  padding: auto;
  background-image: url(../assests/lines.png);
  margin-bottom: 0;
}

.herohead h1 {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 60.51px;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;}

.hero-description {
  width: 591px;
  margin-left: 3px;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
}

.highlight {
  color: #F4DE6C;
}

.booknowparent {
  margin-left: 3px;
  width: 210px;
  height: 45px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 82px;
  opacity: 1;
  background: linear-gradient(90deg, #320063, #5e328a 51.9%, #d324e3);
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-top: 30px;
}

.booknowparent:hover {
  background: white;
}

.booknowparent:hover .booknow {
  background: linear-gradient(90deg, #320063, #5e328a 51.9%, #d324e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.booknow {
  color: white;
  font-family: "Inter", sans-serif;
  transition: color 0.3s, background 0.3s;
}

.hero-image-container {
  position: absolute; 
  top: 10px;
  right: 2rem;
  width: 510px;
  height: 550px;
  margin-right: 120px;
}

.hero-image {
  position: relative; 
  width: auto;
  height: 100%;
}

.chef {
  left: 7%;
}

.chatwithuslogo{
  display: flex;
  justify-content: flex-end; 
  width: 100%;
}
.chat-with-us{
  display: flex;
}


@media (max-width: 503px) and (min-width:440px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .herohead {
    width: 361.47px;
    height: 96px;
    top: 148.48px;
    left: 75.78px;
    gap: 0px;
    opacity: 0px;
    gap: 0px;
    opacity: 1;
    margin: 0;
    padding: 1rem;
    margin-top: 290px;
  }

  .herohead h1 {
    margin-top: -250px;
    font-size: 26px;
    line-height: 32.36px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  .hero-description {
    width: 415.74px;
    height: 13px;
    top: 258.05px;
    left: 48.13px;
    margin-left: 0px;
    gap: 0px;
    opacity: 0px;
    font-size: 12px;
    line-height: 13.42px;
    margin-bottom: 50px;
  }

  .booknowparent {
    width: 180px;
    height: 25px;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    font-size: 23px;
    margin-left: 80px;
    border-radius: 10px;
  }

  .booknow {
    width: Fixed (161.79px)px;
    height: Fixed (39.58px)px;
    top: 292.86px;
    left: 175.1px;
    padding: 6.94px;
    gap: 6.94px;
    border-radius: 7.98px 0px 0px 0px;
    opacity: 0px;
  }

  .hero-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  .hero-image {
    width: 250px;
    height: 290px;
    top: 350px;
    left: 110px;
    gap: 0px;
    opacity: 0px;
    margin: -20px 0px 0px -200px;
  }
  .chatwithuslogo{
    display: flex; 
    width: 100%;
    margin-top: 250px;
  }
  .chat-with-us{
    display: flex;
  }
}

@media (max-width: 440px) and (min-width:300px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .herohead {
    width: 350px;
    height: 96px;
    top: 148.48px;
    left: 75.78px;
    gap: 0px;
    opacity: 0px;
    gap: 0px;
    opacity: 1;
    margin: 0;
    padding: 1rem;
    margin-top: 290px;
  }

  .herohead h1 {
    margin-top: -250px;
    font-size: 22px;
    line-height: 32.36px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  .hero-description {
    width: 410px;
    height: 13px;
    top: 258.05px;
    left: 48.13px;
    margin-left: 5px;
    gap: 0px;
    opacity: 0px;
    font-size: 11px;
    line-height: 13.42px;
    margin-bottom: 50px;
  }

  .booknowparent {
    width: 180px;
    height: 25px;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    font-size: 23px;
    margin-left: 80px;
    border-radius: 10px;
  }

  .booknow {
    width: Fixed (161.79px)px;
    height: Fixed (39.58px)px;
    top: 292.86px;
    left: 175.1px;
    padding: 6.94px;
    gap: 6.94px;
    border-radius: 7.98px 0px 0px 0px;
    opacity: 0px;
  }

  .hero-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  .hero-image {
    width: 240px;
    height: 270px;
    top: 340px;
    left: 110px;
    gap: 0px;
    opacity: 0px;
    margin: -20px 0px 0px -200px;
  }
  .chatwithuslogo{
    display: flex; 
    width:100%;
    margin-top: 250px;
  }
  .chat-with-us{
    display: flex;
  }
}

/* Large devices (large laptops and desktops, 1367px and up) */
@media (min-width: 1367px) and (max-width: 1500px) {
  .herohead {
  margin-left: 70px;
  margin-top: -120px;
}
.hero-image-container {
  top: 30px;
  right: 3rem;
  width: 500px;
  height: 490px;
  margin-right: 70px;
} 
}

/* Medium devices (small laptops, 1299px to 1367px) */
@media (max-width: 1367px) and (min-width: 1299px) {
  .herohead {
  margin-left: 60px;
}
.hero-image-container {
  top: 40px;
  right: 3rem;
  width: 480px;
  height: 480px;
  margin-right: 60px;
} 
}

/* Medium devices (small laptops, 1144px to 1366px) */
@media (max-width: 1299px) and (min-width: 1155px) {
  .herohead {
    margin-left: 60px;
  }
  .hero-image-container {
    top: 65px;
    right: 5rem;
    width: 340px;
    height: 430px;
    margin-right: 60px;
  } 
  .herohead h1 {
    font-size: 45px;
    }
  
  .hero-description {
    width: 580px;
    margin-left: 3px;
    font-size: 17px;
  }
}

/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 1155px) and (min-width:1085px) {
  .herohead {
    margin-left: 60px;
  }
  .hero-image-container {
    top: 90px;
    right: 8rem;
    width: 250px;
    height: 390px;
    margin-right: 60px;
  } 
  .herohead h1 {
    font-size: 43px;
    }
  
  .hero-description {
    width: 580px;
    margin-left: 3px;
    font-size: 17px;
  }
  .booknowparent {
    margin-left: 5px;
    width: 190px;
  }
}

/* Medium devices (small laptops, 897px to 963px) */
@media (max-width: 1085px) and (min-width: 1008px) {
  .herohead {
    margin-left: 45px;
    max-width: 600px;
  }
  .hero-image-container {
    top: 110px;
    right: 9rem;
    width: 200px;
    height: 350px;
    margin-right: 45px;
  } 
  .herohead h1 {
    font-size: 40px;
    }
  
  .hero-description {
    width: 560px;
    margin-left: 3px;
    font-size: 17px;
  }
  .booknowparent {
    margin-left: 8px;
    width: 180px;
    font-size: 23px;
  }
}


/* Medium devices (small laptops, 887px to 963px) */
@media (max-width: 1008px) and (min-width: 936px) {
  .herohead {
    margin-left: 45px;
    max-width: 600px;
    margin-top: -120px;
  }
  .hero-image-container {
    top: 110px;
    right: 9rem;
    width: 190px;
    height: 330px;
    margin-right: 45px;
  } 
  .herohead h1 {
    font-size: 38px;
    }
  
  .hero-description {
    width: 560px;
    margin-left: 3px;
    font-size: 15px;
  }
  .booknowparent {
    margin-left: 8px;
    width: 160px;
    font-size: 20px;
  } 
}

/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 936px) and (min-width: 914px) {
  .herohead {
    margin-left: 45px;
    max-width: 550px;
    margin-top: -160px;
  }
  .hero-image-container {
    top: 100px;
    right: 9rem;
    width: 180px;
    height: 320px;
    margin-right: 45px;
  } 
  .herohead h1 {
    font-size: 35px;
    }
  
  .hero-description {
    width: 540px;
    margin-left: 3px;
    font-size: 15px;
  }
  .booknowparent {
    margin-left: 8px;
    width: 150px;
    font-size: 18px;
    height: 28px;
  } 
  } 


  /* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 914px) and (min-width: 823px) {
  .herohead {
    margin-left: 40px;
    max-width: 520px;
    margin-top: -140px;
  }
  .hero-image-container {
    top: 120px;
    right: 9rem;
    width: 170px;
    height: 300px;
    margin-right: 45px;
  } 
  .herohead h1 {
    font-size: 32px;
    }
  
  .hero-description {
    width: 540px;
    margin-left: 3px;
    font-size: 12px;
  }
  .booknowparent {
    margin-left: 8px;
    width: 130px;
    font-size: 17px;
    height: 25px;
  } 
  } 


  /* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 823px) and (min-width: 790px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
  .herohead {
    margin-left: 10px;
    max-width:600px;
    margin-top: -160px;
  }
  .hero-image-container {
    top: 400px;
    right: 9rem;
    width: 200px;
    height: 300px;
    margin-right: 220px;
    justify-content: center;
  } 
  .herohead h1 {
    font-size: 40px;
    text-align: center;
    }
  
  .hero-description {
    width: 560px;
    margin-left: 20px;
    font-size: 18px;
    text-align: center;
  }
  .booknowparent {
    margin-left: 180px;
    width: 210px;
    font-size: 23px;
    height: 30px;
    border-radius: 10px;
  } 
  .chatwithuslogo{
    display: flex; 
    width: 100%;
  }
  .chat-with-us{
    display: flex;
    margin-top: 100px;
  }
}


/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 790px) and (min-width: 730px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
  .herohead {
    margin-left: 10px;
    max-width:600px;
    margin-top: 50px;
  }
  .hero-image-container {
    top: 410px;
    right: 9rem;
    width: 200px;
    height: 310px;
    margin-right: 190px;
    text-align: center;
  } 
  .herohead h1 {
    font-size: 43px;
    text-align: center;
    }
  
  .hero-description {
    width: 560px;
    margin-left: 20px;
    font-size: 18px;
    text-align: center;
  }
  .booknowparent {
    margin-left: 180px;
    width: 210px;
    font-size: 23px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    } 
    .chatwithuslogo{
      display: flex; 
      width: 100%;
      margin-top: 250px;
    }
    .chat-with-us{
      display: flex;
    }
}


/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 730px) and (min-width: 677px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
  .herohead {
    margin-left: 10px;
    max-width:600px;
    margin-top: 50px;
  }
  .hero-image-container {
    top: 420px;
    right: 9rem;
    width: 200px;
    height: 300px;
    margin-right: 150px;
  } 
  .herohead h1 {
    font-size: 43px;
    text-align: center;
    }
  
  .hero-description {
    width: 560px;
    margin-left: 20px;
    font-size: 18px;
    text-align: center;
  }
  .booknowparent {
    margin-left: 170px;
    width: 210px;
    font-size: 23px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    } 
    .chatwithuslogo{
      display: flex; 
      width: 100%;
      margin-top: 280px;
    }
    .chat-with-us{
      display: flex;
    }
}

/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 676px) and (min-width: 655px) {

  .herohead {
    width: 480px;
    height: 96px;
    top: 148.48px;
    left: 75.78px;
    gap: 0px;
    opacity: 0px;
    gap: 0px;
    opacity: 1;
    margin: 0;
    margin-top: 290px;
    padding: 1rem;
  }

  .herohead h1 {
    margin-top: -250px;
    font-size: 36px;
    line-height: 45px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  .hero-description {
    width: 480px;
    height: 13px;
    top: 258.05px;
    left: 48.13px;
    margin-left: 80px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    line-height: 13.42px;
  }

  .booknowparent {
    width: 180px;
    height: 25px;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    font-size: 23px;
    margin-left: 190px;
    border-radius: 10px;
  }

  .booknow {
    width: Fixed (161.79px)px;
    height: Fixed (39.58px)px;
    top: 292.86px;
    left: 175.1px;
    padding: 6.94px;
    gap: 6.94px;
    border-radius: 7.98px 0px 0px 0px;
    opacity: 0px;
  }

  .hero-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }

  .hero-image {
    width: 290.26px;
    height: 330.39px;
    top: 350px;
    left: 121.86px;
    gap: 0px;
    opacity: 0px;
    margin: -20px 0px 0px -200px;
  }
  .chatwithuslogo{
    display: flex; 
    width: 100%;
    margin-top: 250px;
  }
  .chat-with-us{
    display: flex;
  }

}


/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 655px) and (min-width: 600px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
  .hero-image-container {
    top: 360px;
    right: 8rem;
    width: 200px;
    height: 300px;
    margin-right: 150px;
  }
  .herohead {
    width: 480px;
    height: 96px;
    top: 148.48px;
    gap: 0px;
    opacity: 0px;
    gap: 0px;
    opacity: 1;
    margin: 0;
    padding: 1rem;
    margin-top: 300px;
  }

  .herohead h1 {
    margin-top: -250px;
    font-size: 35px;
    line-height: 45px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-left: 0px;
    margin-right: 20px;
  }

  .hero-description {
    width: 480px;
    height: 13px;
    top: 258.05px;
    left: 48.13px;
    margin-left: 20px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    line-height: 13.42px;
  }
  .booknowparent {
    margin-left: 130px;
    width: 180px;
    font-size: 23px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    } 
    .chatwithuslogo{
      display: flex; 
      width: 100%;
      margin-top: 250px;
    }
    .chat-with-us{
      display: flex;
    }
}

/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 600px) and (min-width: 561px) {
  .herohead {
    width: 480px;
    height: 96px;
    top: 148.48px;
    left: 75.78px;
    gap: 0px;
    opacity: 0px;
    gap: 0px;
    opacity: 1;
    margin: 0;
    padding: 1rem;
    margin-top: 300px;
  }

  .herohead h1 {
    margin-top: -250px;
    font-size: 35px;
    line-height: 48px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-left: 10px;
    margin-right: 40px;
  }

  .hero-description {
    width: 480px;
    height: 13px;
    top: 258.05px;
    left: 48.13px;
    margin-left: 40px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    line-height: 13.42px;
  }
  .hero-image-container {
    top: 360px;
    right: 8rem;
    width: 200px;
    height: 300px;
    margin-right: 110px;
  }
  .booknowparent {
    margin-left: 140px;
    width: 180px;
    font-size: 23px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    } 
    .chatwithuslogo{
      display: flex; 
      width: 100%;
      margin-top: 300px;
    }
    .chat-with-us{
      display: flex;
    }
}

/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 561px) and (min-width: 540px) {
  .herohead {
    width: 450px;
    height: 96px;
    top: 148.48px;
    left: 75.78px;
    gap: 0px;
    opacity: 0px;
    gap: 0px;
    opacity: 1;
    margin: 0;
    padding: 1rem;
    margin-top: 280px;
  }

  .herohead h1 {
    margin-top: -250px;
    font-size: 30px;
    line-height: 36px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-left: 5px;
    margin-right: 12px;
  }

  .hero-description {
    width: 480px;
    height: 13px;
    top: 258.05px;
    left: 48.13px;
    margin-left: 24px;
    gap: 0px;
    opacity: 0px;
    font-size: 13px;
    line-height: 13.42px;
  }
  .hero-image-container {
    top: 360px;
    right: 8rem;
    width: 200px;
    height: 320px;
    margin-right: 110px;
  }
  .booknowparent {
    margin-left: 120px;
    width: 180px;
    font-size: 23px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    } 
    .chatwithuslogo{
      display: flex; 
      width: 100%;
      margin-top: 300px;
    }
    .chat-with-us{
      display: flex;
    }
}

/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 540px) and (min-width: 503px) {
  .herohead {
    width: 450px;
    height: 96px;
    top: 148.48px;
    left: 75.78px;
    gap: 0px;
    opacity: 0px;
    gap: 0px;
    opacity: 1;
    margin: 0;
    padding: 1rem;
    margin-top: 280px;
  }

  .herohead h1 {
    margin-top: -250px;
    font-size: 30px;
    line-height: 36px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-left: 5px;
    margin-right: 12px;
  }

  .hero-description {
    width: 480px;
    height: 13px;
    top: 258.05px;
    left: 48.13px;
    margin-left: 24px;
    gap: 0px;
    opacity: 0px;
    font-size: 13px;
    line-height: 13.42px;
  }
  .hero-image-container {
    top: 360px;
    right: 8rem;
    width: 200px;
    height: 320px;
    margin-right: 90px;
  }
  .booknowparent {
    margin-left: 120px;
    width: 180px;
    font-size: 23px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    } 
    .chatwithuslogo{
      display: flex; 
      width: 100%;
      margin-top: 300px;
    }
    .chat-with-us{
      display: flex;
    }
}