.navbar {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(32,0,36,1) 100%);
  display: flex;
  color: #a5a5a5;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #7e7d7d47;
}

.navbar-logo img {
  width: 217px;
  position: relative;
  overflow: hidden;
  height:28px;
  object-fit: cover;
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  margin-left: 300px;
}

.navbar-link {
  text-decoration: none;
  color: #a5a5a5;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #fff;
}

.hireNowParent {
  margin-right: 100px;
  width: 158px;
  height: 50px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: linear-gradient(90deg, #320063, #5e328a 51.9%, #d324e3);
  border-radius: 82px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.hireNowParent:hover {
  background: white;
}

.hireNowParent:hover .hireNow {
  background: linear-gradient(90deg, #320063, #5e328a 51.9%, #d324e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hireNow {
  color: white;
  font-family: "Inter", sans-serif;
  transition: color 0.3s, background 0.3s;
}
