.PermanentChef{
    background-color: #320063;
}

.servicesCardContent h2 {
    text-align: center;
    width: 1250px;
    height: 80px;
    font-size: 33px;
    margin-top: 70px;
    margin-left: 130px;
    color: #F4DE6C;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #111111;
    padding: 10px;
    border-radius: 30px;
    width: 650px;
    border: 2px solid white;
    margin-left: 410px;
    margin-bottom: 80px;
}
  
.location {
    display: flex;
    align-items: center;
    background-color: #111111;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}
  
.icon {
    margin-right: 5px;
}
  
.location-text {
    margin-right: 5px;
}
  
.search-input {
    flex-grow: 1;
    background-color: #111111;
    border: none;
    color: white;
    padding: 5px 10px;
    outline: none;
    margin-right: 10px;
    font-size: 16px;
}
  
.search-input::placeholder {
    color: #888888;
}
  
.search-button {
    background-color: #4e2a82;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
  
.search-button:hover {
    background-color: #5a3596;
}

.servicesCards {
    display: flex;
    flex-flow: row wrap;
    gap: 250px;
    row-gap: 140px;
    margin-left: 250px;
}

.servicesCards h4 {
    width: 140px;
    height: 30px;
    color: #F6DE00;
    border: 1px solid #F6DE00;
    text-align: center;
    margin-left: 100px;
    margin-top: 5px;
    font-size: 20px;
    padding-top: 4px;
}

.servicesCards p{
    color: white;
    margin-left: 12px;
    margin-top: -15px;
}

.servicesCard1{
    width: 350px;
    height: 410px;
    margin: 10px;
    background-color: #1d0336;
    border-radius: 15px;
}

.servicesCard1 img {
    height: 225px;
    width: 330px;
    margin: 11px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.servicesCard2{
    width: 350px;
    height: 410px;
    margin: 10px;
    background-color: #1d0336;
    border-radius: 15px;
}

.servicesCard2 img {
    height: 225px;
    width: 330px;
    margin: 11px;
    border-radius: 15px;
}

.servicesCard3{
    width: 350px;
    height: 410px;
    margin: 10px;
    background-color: #1d0336;
    border-radius: 15px;
}

.servicesCard3 img {
    height: 225px;
    width: 330px;
    margin: 11px;
    border-radius: 15px;
}

.servicesCard4{
    width: 350px;
    height: 410px;
    margin: 10px;
    background-color: #1d0336;
    border-radius: 15px;
}

.servicesCard4 img {
    height: 220px;
    width: 327px;
    margin: 11px;
    border-radius: 15px;
}

@media (max-width: 1406px) and (min-width: 1336px) {

    .servicesCardContent {
        margin-left: -80px;
    }

    .search-bar {
        margin-left: 330px;
    }

    .servicesCards {
        margin-left: 180px;
    }
}

@media (max-width: 1336px) and (min-width: 1290px) {

    .servicesCardContent {
        margin-left: -100px;
    }

    .search-bar {
        margin-left: 320px;
    }

    .servicesCards {
        margin-left: 170px;
    }

}

@media (max-width: 1290px) and (min-width: 1225px) {

    .servicesCardContent {
        margin-left: -100px;
    }

    .search-bar {
        margin-left: 320px;
    }

    .servicesCards {
        margin-left: 150px;
    }
}

@media (max-width: 1225px) and (min-width: 1168px) {
    .servicesCardContent {
        margin-left: -140px;
    }

    .search-bar {
        margin-left: 280px;
    }

    .servicesCards {
        margin-left: 120px;
    }
}

@media (max-width: 1168px) and (min-width: 1138px) {

    .servicesCardContent {
        margin-left: -170px;
    }

    .search-bar {
        margin-left: 220px;
    }

    .servicesCards {
        margin-left: 90px;
    }
     
}

@media (max-width: 1138px) and (min-width: 1109px) {

    .servicesCardContent {
        margin-left: -200px;
    }

    .search-bar {
        margin-left: 200px;
    }

    .servicesCards {
        margin-left: 70px;
    }
}

@media (max-width: 1109px) and (min-width: 1078px) {

    .servicesCardContent {
        margin-left: -200px;
    }

    .search-bar {
        margin-left: 200px;
    }

    .servicesCards {
        margin-left: 50px;
    }
}

@media (max-width: 1078px) and (min-width: 957px) {

    .servicesCardContent {
        margin-left: -240px;
    }

    .search-bar {
        margin-left: 160px;
    }

    .servicesCards {
        margin-left: 110px;
        gap: 50px;
    }
}

@media (max-width: 957px) and (min-width: 857px) {

    .servicesCardContent {
        margin-left: -130px;
    }

    .servicesCardContent h2 {
        width: 900px;
    }

    .search-bar {
        margin-left: 120px;
    }

    .servicesCards {
        margin-left: 50px;
        gap: 50px;
    }
}

@media (max-width: 857px) and (min-width: 800px) {

    .servicesCardContent {
        margin-left: -110px;
        margin-bottom: 50px;
    }

    .servicesCardContent h2 {
        width: 800px;
    }

    .search-bar {
        margin-left: 80px;
    }

    .servicesCards {
        margin-left: 20px;
        gap: 40px;
    }
}

@media (max-width: 800px) and (min-width: 700px) {

    .servicesCardContent {
        margin-left: -100px;
        margin-bottom: 50px;
    }

    .servicesCardContent h2 {
        width: 700px;
    }

    .search-bar {
        margin-left: 30px;
    }

    .servicesCards {
        margin-left: 180px;
        gap: 50px;
    }
}

@media (max-width: 700px) and (min-width: 600px) {
    .servicesCardContent {
        margin-left: -120px;
        margin-bottom: 50px;
    }

    .servicesCardContent h2 {
        width: 640px;
    }

    .search-bar {
        margin-left: 10px;
        width: 570px;
    }

    .servicesCards {
        margin-left: 150px;
        gap: 50px;
    }
}

@media (max-width: 600px) and (min-width: 500px) {
    .servicesCardContent {
        margin-left: -180px;
        margin-bottom: 50px;
    }

    .servicesCardContent h2 {
        width: 640px;
    }

    .search-bar {
        margin-left: 16px;
        width: 480px;
    }

    .servicesCards {
        margin-left: 90px;
        gap: 50px;
    }
}

@media (max-width: 500px) and (min-width: 450px) {
    .servicesCardContent {
        margin-left: -110px;
        margin-bottom: 50px;
    }

    .servicesCardContent h2 {
        width: 440px;
        font-size: 26px;
    }

    .search-bar {
        margin-left: 10px;
        width: 420px;
        margin-bottom: 50px;
    }

    .search-button {
        width: 80px;
        font-size: 15px;
    }

    .servicesCards {
        margin-left: 60px;
        gap: 30px;
    }
}

@media (max-width: 450px) and (min-width: 400px) {
    .servicesCardContent {
        margin-left: -125px;
        margin-bottom: 50px;
    }

    .servicesCardContent h2 {
        width: 440px;
        font-size: 26px;
    }

    .search-bar {
        margin-left: 10px;
        width: 380px;
        margin-bottom: 50px;
    }

    .search-button {
        width: 80px;
        font-size: 15px;
        margin-left: -40px;
    }

    .servicesCards {
        margin-left: 25px;
        gap: 30px;
    }
}

@media (max-width: 400px) and (min-width: 350px) {
    .servicesCardContent {
        margin-left: -135px;
        margin-bottom: 60px;
    }

    .servicesCardContent h2 {
        width: 420px;
        font-size: 26px;
    }

    .search-bar {
        margin-left: 7px;
        width: 340px;
        margin-bottom: 50px;
    }

    .search-button {
        width: 80px;
        font-size: 15px;
        margin-left: -80px;
    }

    .servicesCards {
        margin-left: -5px;
        gap: 30px;
    }
}

@media (max-width: 350px) and (min-width: 300px) {
    .servicesCardContent {
        margin-left: -135px;
        margin-bottom: 60px;
    }

    .servicesCardContent h2 {
        width: 420px;
        font-size: 26px;
    }

    .search-bar {
        margin-left: 7px;
        width: 290px;
        margin-bottom: 50px;
    }

    .search-input {
        width: 50px;
    }

    .search-button {
        width: 80px;
        font-size: 15px;
        margin-left: -140px;
    }

    .servicesCards {
        margin-left: -5px;
        gap: 30px;
    }
}