.review-slider {
  display: flex;
  gap: 42px;
  overflow-x: auto;
  padding: 22px;
  color: #fff;
  height: 38vh;
  align-items: center;
}

.review-card {
  border-radius: 10px;
  min-width: 290px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}