.services {
  padding: 1rem;
  text-align: center;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.line-image {
  width:250px; /* Adjust the width as needed */
  height: 2px; /* Adjust the height as needed */
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 90px;
  margin-left: 90px;
  margin-right: 90px;
}

.service-card {
  background-color: #EAEAEA;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  width: 320px;
  height: 490px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.service-card:hover {
  transform: scale(1.05);
  width: 330px;
  height: 510px;
}

.service-card.highlighted {
  background-color: #320063;
  color: white;
}

.service-card h3 {
  color: #461A71;
  font-size: 27.59px;
  font-weight: 600;
  line-height: 33.39px;
  font-family: "Inter";
  margin-top: 12px;
  margin-left: 14px;
  margin-bottom: 12px;
}

.service-card.highlighted h3 {
  color: #F4DE6C;
  font-size: 27.59px;
  font-weight: 600;
  line-height: 33.39px;
  font-family: "Inter";
  margin-top: 12px;
  margin-left: 14px;
}

.service-card p {
  font-weight: 600;
  font-size: 18.1px;
  font-family: "Inter";
  line-height: 21.91px;
  margin-left: 14px;
  margin-right: 10px;
}

.service-card.highlighted hr {
  border: none;
  border-top: 1px solid #EADC5F;
  margin: 1rem 0;
}

.service-card hr {
  border: none;
  border-top: 1px solid #767676;
  margin: 1rem 0;
}

.service-card ul {
  margin-top: 40px;
  margin-left: 14px;
  margin-right: 10px;
  font-size: 18.1px;
  font-weight: 500;
  font-family: "Inter";
  line-height: 21.91px;
}

.service-card li {
  margin-bottom: 1.5rem;
}

.service-card button {
  display: block;
  width: 295px;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5.17px;
  cursor: pointer;
  height: 58.62px;
  margin: 14px;
}

.service-card .book-now {
  background-color: #EAEAEA;
  color: #461A71;
  border: 2px solid #461A71;
  font-weight: 800;
  font-size: 25.86px;
  line-height: 31.51px;
  font-family: "Inter";
  letter-spacing: 0.1rem;
}

.service-card.highlighted .book-now {
  background-color: #320063;
  color: #EAEAEA;
  border: 2px solid #eaeaea;
  font-weight: 600;
}

.service-card .know-more {
  color: #EAEAEA;
  border: 1px solid #4a148c;
  background: #46206C;
  font-weight: 800;
  font-size: 25.86px;
  line-height: 31.51px;
  letter-spacing: 1%;
  font-family: "Inter";
}

.service-card.highlighted .know-more {
  color: #320063;
  border: 1px solid #320063;
  background: #f6f6f6;
  font-weight: 600;
}

h2 {
  color: #F4DE6C;
  letter-spacing: 0.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36.02px;
  margin: 0;
}


/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 1406px) and (min-width: 1336px) {
  
  .service-cards {
    gap: 4rem;
    margin-left: 70px;
    margin-right: 70px;
  }
  
  .service-card {
    width: 310px;
    height: 480px;
  }
  
  .service-card:hover {
    width: 320px;
    height: 500px;
  }
  
  .service-card ul {
    margin-top: 30px;
    margin-left: 11px;
  }
  
  .service-card li {
    margin-bottom: 1.4rem;
  }
  
  .service-card button {
    width: 290px;
    height: 55px;
  }
  
}



/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 1336px) and (min-width: 1290px) {
  
  .service-cards {
    gap: 3.5rem;
    margin-left: 70px;
    margin-right: 70px;
  }
  
  .service-card {
    width: 300px;
    height: 450px;
  }
  
  .service-card:hover {
    width: 310px;
    height: 470px;
  }
  
  .service-card ul {
    margin-top: 30px;
    margin-left: 5px;
    line-height: 17px;
  }
  
  .service-card li {
    margin-bottom: 1.6rem;
  }
  
  .service-card button {
    width: 270px;
    height: 50px;
  }
  
}

/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 1290px) and (min-width: 1225px) {
  
  .service-cards {
    gap: 3rem;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .service-card {
    padding: 0.9rem;
    width: 290px;
    height: 460px;
  }
  
  .service-card:hover {
    width: 310px;
    height: 470px;
  }
 
  
  .service-card h3 {
    font-size: 25px;
    line-height: 28px;
    margin-top: 10px;
    margin-left: 12px;
    margin-bottom: 5px;
  }
  
  .service-card.highlighted h3 {
    font-size: 25px;
    line-height: 28px;
    margin-top: 10px;
    margin-left: 12px;
  }
  
  .service-card p {
    font-size: 17px;
    line-height: 20px;
  }
  .service-card ul {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 9px;
    font-size: 17px;
    line-height: 18px;
  }
  
  .service-card li {
    margin-bottom: 1.4rem;
  }
  
  .service-card button {
    width: 270px;
    height: 56px;
    margin: 16px;
  }
  
  .service-card .book-now {
    font-size: 23px;
    line-height: 29px;
  }

  .service-card .know-more {
    font-size: 23px;
    line-height: 39px;
  }
}


/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 1225px) and (min-width: 1168px) {
  
  .service-cards {
    gap: 2.8rem;
    margin-left: 55px;
    margin-right: 55px;
  }
  
  .service-card {
    padding: 0.9rem;
    width: 280px;
    height: 440px;
  }
  
  .service-card:hover {
    width: 290px;
    height: 450px;
  }
 
  
  .service-card h3 {
    font-size: 23px;
    line-height: 26px;
    margin-top: 8px;
    margin-left: 11px;
    margin-bottom: 4px;
  }
  
  .service-card.highlighted h3 {
    font-size: 23px;
    line-height: 26px;
    margin-top: 8px;
    margin-left: 11px;
  }
  
  .service-card p {
    font-size: 16px;
    line-height: 19px;
  }
  .service-card ul {
    margin-top: 25px;
    margin-left: 9px;
    margin-right: 9px;
    font-size: 16px;
    line-height: 16px;
  }
  
  .service-card li {
    margin-bottom: 1.5rem;
  }
  
  .service-card button {
    width: 250px;
    height: 54px;
    margin: 15px;
  }
  
  .service-card .book-now {
    font-size: 23px;
    line-height: 29px;
  }

  .service-card .know-more {
    font-size: 23px;
    line-height: 39px;
  }
}


/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 1168px) and (min-width: 1138px) {
  
  .service-cards {
    gap: 2.8rem;
    margin-left: 55px;
    margin-right: 55px;
  }
  
  .service-card {
    padding: 0.9rem;
    width: 270px;
    height: 420px;
  }
  
  .service-card:hover {
    width: 280px;
    height: 440px;
  }
 
  
  .service-card h3 {
    font-size: 23px;
    line-height: 26px;
    margin-top: 8px;
    margin-left: 11px;
    margin-bottom: 4px;
  }
  
  .service-card.highlighted h3 {
    font-size: 23px;
    line-height: 26px;
    margin-top: 8px;
    margin-left: 11px;
  }
  
  .service-card p {
    font-size: 16px;
    line-height: 19px;
  }
  .service-card ul {
    margin-top: 25px;
    margin-left: 9px;
    margin-right: 9px;
    font-size: 16px;
    line-height: 16px;
  }
  
  .service-card li {
    margin-bottom: 1.5rem;
  }
  
  .service-card button {
    width: 240px;
    height: 54px;
    margin: 15px;
  }
  
  .service-card .book-now {
    font-size: 23px;
    line-height: 29px;
  }

  .service-card .know-more {
    font-size: 23px;
    line-height: 39px;
  }
}


/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 1138px) and (min-width: 1109px) {
  
  .service-cards {
    gap: 2.5rem;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .service-card {
    padding: 0.9rem;
    width: 270px;
    height: 400px;
  }
  
  .service-card:hover {
    width: 270px;
    height: 420px;
  }
 
  
  .service-card h3 {
    font-size: 23px;
    line-height: 26px;
    margin-top: 8px;
    margin-left: 11px;
    margin-bottom: 4px;
  }
  
  .service-card.highlighted h3 {
    font-size: 23px;
    line-height: 26px;
    margin-top: 8px;
    margin-left: 11px;
  }
  
  .service-card p {
    font-size: 16px;
    line-height: 19px;
  }
  .service-card ul {
    margin-top: 25px;
    margin-left: 9px;
    margin-right: 9px;
    font-size: 16px;
    line-height: 15px;
  }
  
  .service-card li {
    margin-bottom: 1.3rem;
  }
  
  .service-card button {
    width: 235px;
    height: 50px;
    margin: 15px;
  }
  
  .service-card .book-now {
    font-size: 23px;
    line-height: 29px;
  }

  .service-card .know-more {
    font-size: 23px;
    line-height: 29px;
  }
}


/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 1109px) and (min-width: 1078px) {
  
  .service-cards {
    gap: 2.5rem;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .service-card {
    padding: 0.9rem;
    width: 260px;
    height: 390px;
  }
  
  .service-card:hover {
    width: 260px;
    height: 400px;
  }
 
  
  .service-card h3 {
    font-size: 22px;
    line-height: 25px;
    margin-top: 8px;
    margin-left: 11px;
    margin-bottom: 4px;
  }
  
  .service-card.highlighted h3 {
    font-size: 22px;
    line-height: 25px;
    margin-top: 8px;
    margin-left: 11px;
  }
  
  .service-card p {
    font-size: 15px;
    line-height: 17px;
  }
  .service-card ul {
    margin-top: 23px;
    margin-left: 4px;
    margin-right: 6px;
    font-size: 16px;
    line-height: 14px;
  }
  
  .service-card li {
    margin-bottom: 1.25rem;
  }
  
  .service-card button {
    width: 230px;
    height: 48px;
    margin: 15px;
  }
  
  .service-card .book-now {
    font-size: 22px;
    line-height: 29px;
  }

  .service-card .know-more {
    font-size: 22px;
    line-height: 29px;
  }
}


/* Medium devices (small laptops, 963px to 1022px) */
@media (max-width: 1078px) {
  .services {
    padding: 5rem;
  }
  
  .heading-container {
    margin-bottom: 6rem;
  }
  .service-cards {
    gap: 5rem;
  }
  
}