
.testimonial-container {
    background-color: #1a1a1a;
    color: #F4DE6C;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    width: 627.81px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
  }
  
  .quote-symbol {
    position: absolute;
    font-size: 252.72px;
    color: #EADC5F;
    font-family: "Playfair Display";
  }
  
  .quote-left {
    top: -120px;
    left: 15px;
  }
  
  .quote-right {
    bottom: -210px;
    right: 10px;
  }
  
  .testimonial-content h3 {
    font-size: 15px;
    font-weight:700;
    letter-spacing: 0.54rem;
    color:#F4DE6C;
    font-family: "Poppins";
    line-height: 15.93px;
  }
  
  .testimonial-content h2 {
    font-size: 42px;
    font-weight: 700;
    font-family: "Playfair Display";
    color: #F6DE00;
    letter-spacing: 0.09rem;
  }
  
  .testimonial-content p {
    font-size: 15px;
    font-style: italic;
    color: white;
    font-family: "Playfair Display";
    line-height: 1.6x;
    font-weight: 600;
    align-content: center;
    letter-spacing: 2%;
    margin: 20px;
  }
  
  .testimonial-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .stars {
    font-size: 10px;
    color: #F9A400;
    width: 74.75px;
    height: 12px;
  }
  
  .author {
    font-size: 10px;
    font-weight: 500;
    color: white;
    margin-top: 50px;
    width: 200px;
    font-family: "Poppins";
  }
  