
.testimonial-container {
    background-color: #1a1a1a;
    color: #F4DE6C;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    width: 627.81px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
  }
  
  .quote-symbol {
    position: absolute;
    font-size: 252.72px;
    color: #EADC5F;
    font-family: "Playfair Display";
  }
  
  .quote-left {
    top: -120px;
    left: 15px;
  }
  
  .quote-right {
    bottom: -210px;
    right: 10px;
  }
  
  .testimonial-content h3 {
    font-size: 15px;
    font-weight:700;
    letter-spacing: 0.54rem;
    color:#F4DE6C;
    font-family: "Poppins";
    line-height: 15.93px;
  }
  
  .testimonial-content h2 {
    font-size: 42px;
    font-weight: 700;
    font-family: "Playfair Display";
    color: #F6DE00;
    letter-spacing: 0.09rem;
  }
  
  .testimonial-content p {
    font-size: 15px;
    font-style: italic;
    color: white;
    font-family: "Playfair Display";
    line-height: 1.6x;
    font-weight: 600;
    align-content: center;
    letter-spacing: 2%;
    margin: 20px;
  }
  
  .testimonial-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .stars {
    font-size: 10px;
    color: #F9A400;
    width: 74.75px;
    height: 12px;
  }
  
  .author {
    font-size: 10px;
    font-weight: 500;
    color: white;
    margin-top: 50px;
    width: 200px;
    font-family: "Poppins";
  }
  
  @media (max-width: 512px) {
    .testimonial-container {
        width: 380.93px;
        height: 499.72px;
        margin-top: 0;
        padding: 20px;
    }

    .quote-symbol {
        font-size: 180px;
    }

    .quote-left {
        top: -90px;
        left: 10px;
    }

    .quote-right {
        bottom: -150px;
        right: 5px;
    }

    .testimonial-content h3 {
        font-size: 12px;
        letter-spacing: 0.3rem;
    }

    .testimonial-content h2 {
        font-size: 35px;
    }

    .testimonial-content p {
        width: 288.16px;
        font-size: 20.71px;
        font-weight: 600;
        line-height: 27.6px;
        letter-spacing: 0.02em;
        text-align: center;
        margin: 0 auto 20px auto;
    }

    .testimonial-footer {
        margin-top: 0;
    }

    .stars {
        width: 70.69px;
        height: 11.78px;
        font-size: 14px;
        margin: 10px 0;
    }

    .author {
        width: 223px;
        font-size: 13.74px;
        line-height: 16.63px;
        letter-spacing: 0.02em;
        text-align: center;
        margin: 10px 0;
    }
}