.otp-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  background-color: rgba(0, 0, 0, 0.5); /* Optional: add a semi-transparent background */
  z-index: 9999; /* Ensure the modal is above other content */
}

.otp-modal-content {
  width: 400px;
  background-color: #1f1f1f;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.otp-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #111111;
  border: 1px solid #111111;
  border-radius: 50%;
  color: #F4DE6C;
  font-size: 1.5rem;
  cursor: pointer;
}

.otp-modal-content h2 {
  color: #A09275;
  margin-bottom: 1.5rem;
  font-size: 29px;
  line-height: 33.98px;
  font-weight: 400;
  letter-spacing: normal;
}

.otp-modal-content input {
  width: 288px;
  height: 48px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #F6DE00;
  border-radius: 5px;
  background-color: #333;
  color: #F1DBADA3;
  font-size: 14px;
  letter-spacing: 0.17rem;
  box-sizing: border-box;
}

.otp-button {
  width: 288px;
  height: 48px;
  padding: 12px 105px;
  border: none;
  border-radius: 5px;
  background-color: #F4DE6C;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 19px;
  cursor: pointer;
  box-sizing: border-box;
}

.otp-button:hover {
  background-color: #c9a13b;
}

.error-message-2{
  font-size: 20px;
  font-family: "Inter";
}