.resend-otp-card {
    width: 623px;
    height: 391px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    background: #111111;
    border-radius: 10px;
    position: relative;
    font-family: "Inter";
}

.resend-otp-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.resend-otp-card h1 {
    width: 200px;
    height: 32px;
    font-size: 27.39px;
    font-weight: 600;
    line-height: 32.1px;
    text-align: left;
    color: #A09275;
    margin-bottom: 1.5rem;
}

.resend-otp-card p {
    width: 248.87px;
    height: 53px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.46px;
    text-align: center;
    color: #A09275;
    margin-bottom: 1.5rem;
}

.resend-otp-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.resend-otp-inputs input {
    width: 46.7px;
    height: 46.7px;
    border: 1px solid #F6DE00;
    background-color: #E4E4E4;
    color: #1f1f1f;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    gap: 0px;
    opacity: 0px;
}

.resend-verify-button {
    width: 265px;
    height: 48px;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 20px;
    background-color: #F4DE6C;
    color: #fff;
    font-weight: 600;
    font-size: 20.7px;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.resend-verify-button:hover {
    background-color: #c9a13b;
}
