.chefcard {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  min-width: 300px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chefcard h3 {
  margin-top: 0;
  text-align: center;
}

.chefcard p {
  font-size: 14px;
  line-height: 1.5;
  margin-left: 20px;
}