.herop {
  display: flex;
  align-items: center;
  padding: 100px;
  color: white;
  background-color: linear-gradient(180deg, #141116 56.34%, #3C0E40 153.26%);
  position: relative;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding-top: 40px;
}

.heroheadp {
  margin-left: 10px;
  margin-top: 70px;
}

.heroheadp h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 70px;
  width: 666px;
  height: 183px;
  gap: 0px;
  opacity: 1;
  position: relative;
  text-align: left;
  margin: 0 auto;
}

.hire-cook {
  font-size: 50px;
  font-weight: 800;
  line-height: 70px;
  margin-top: -40px;
  margin-left:-320px;
  color: #F6DE00;
}

.hero-descriptionp {
  width: 666px;
  height: 23px;
  gap: 0px;
  opacity: 1;
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  margin: 1px auto;
  margin-top: -30px;
}

.highlightp {
  color: #F9A400;
}

.booknowparentp {
  margin-left: 5px;
  width: 220px;
  height: 55px;
  gap: 11.93px;
  display: flex;
  align-items: center;
  padding: 20.28px, 33.4px, 20.28px, 33.4px;
  border-radius: 10.74px;
  background-color: #F6DE00;
  border: none;
  color: #000000;
  font-size: 28.63px;
  font-weight: 600;
  line-height: 34.65px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-top: 50px;
  justify-content: center;
}

.hero-image-containerp {
  margin-top: 20px;
  position: relative;
  text-align: center;
}

.hero-image-chefp{
  width: 630px;
  height: 500px;
  margin-left: 30px;
}
