
.herop {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 2rem;
  color: white;
  background-color: linear-gradient(180deg, #141116 56.34%, #3C0E40 153.26%);
  position: relative;
  font-family: "Inter", sans-serif;
}

.heroheadp {
  max-width: 500px;
  margin-left: 70px;
  margin-top: -170px;
  padding: auto;
  margin-bottom: 0;
}

.heroheadp h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 70px;
  text-align: left;
  width: 100%;
}

.hire-cook {
  font-size: 50px;
  font-weight: 800;
  line-height: 70px;
  margin-top: -30px;
  margin-left: -4px;
  color: #F6DE00;
}

.hero-descriptionp {
  width: 591px;
  margin-left: 3px;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  margin-top: -20px;
}

.highlightp {
  color: #F9A400;
}

.booknowparentp {
  margin-left: 3px;
  width: 233px;
  height: 68px;
  gap: 11.93px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20.28px, 33.4px, 20.28px, 33.4px;
  border-radius: 10.74px;
  background-color: #F6DE00;
  border: none;
  color: #000000;
  font-size: 28.63px;
  font-weight: 600;
  line-height: 34.65px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-top: 30px;
}

.hero-image-containerp {
  position: absolute; 
  top: 25px;
  right: 2rem;
  width: 650px;
  height: 540px;
  margin-right: 90px;
}

.chefp {
  left: 4%;
}
